
.textInput {
  appearance: none;
  color: #444444;
  border: 1px solid #cccccc;
  font-size: 13px;
  font-weight: 300;
  height: 32px;
  padding: 0 10px;

  &:focus {
    outline: none;
    border: 2px solid #2ba7e8;
    box-shadow: inset 0 0 0 1px #2ba7e8;
  }
}

.textInput--fullWidth {
  width: 100%;
}
