
.ribbon {
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  left: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}
