
.modalBody {
  $modalFontSize: 14px;
  font-size: $modalFontSize;
  min-height: $modalFontSize * 3;
  // Make modal fluid and respect window height
  max-height: calc(100vh - 300px);
  overflow-y: auto;

  p + p {
    margin-top: 1em;
  }
}
