
.modalStack {
  position: relative;
  width: 450px;
  $modalStack_height: 450px;
  height: $modalStack_height;
  margin: auto;

  .modal {
    height: $modalStack_height;
  }
}

.stackedModal {
  position: absolute;
}

.stackedModal--depth2 {
  margin-top: -40px;
  transform: scale(0.9, 0.9);
  opacity: 0.8;
}

.stackedModal--depth3 {
  margin-top: -80px;
  transform: scale(0.8, 0.8);
  opacity: 0.6;
}
