
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.15);
  z-index: 1;
  overflow-y: auto;
  display: none;
  align-items: center;
  justify-content: center;

  &.is-modal-overlay-open {
    display: flex;
  }
}
