
.modalFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px dashed #cbd3d7;
  padding-top: 15px;
  text-align: right;
}

  .modalFooterSection {
    display: flex;
    flex: 1 1 auto;
  }

  /**
   * 1. All direct children of the left section will have space on the
   *    right side.
   */
  .modalFooterSection--left {
    > * {
      margin-right: 10px; /* 1 */
    }
  }

  /**
   * 1. Align items horizontally to the right.
   * 2. All direct children of the right section will have space on the
   *    left side.
   */
  .modalFooterSection--right {
    justify-content: flex-end;

    > * {
      margin-left: 10px; /* 1 */
    }
  }
