
.filterForm {
  padding: 10px 5px;
}

  .filterForm__buttons {
    margin-top: 5px;
  }

    .filterForm__buttons button {
      white-space: nowrap;
    }

  .filterForm--multiSelect__checkbox {
    white-space: nowrap;
    padding-bottom: 5px;
    padding-right: 25px;
  }
