
.inputFilterForm__filterName {
  font-weight: 400;
}

.inputFilterForm__filterName,
.inputFilterForm__filterValueWrapper {
  padding: 6px 6px 0 6px;
}

.inputFilterForm__enteredValue {
  width: 100%;
}
