
.inputFilterForm {
  &__filterName {
    font-weight: 400;
  }

  &__filterName,
  &__filterValueWrapper {
    padding: 10px 6px 6px;
  }

  &__enteredValue {
    padding: 4px;
    width: 100%;
  }
}
