
.filterFormDropdown {
  position: relative;
}

  .filterFormDropdown__form {
    background: white;
    border-radius: $addedFilter_borderRadius;
    border: 1px solid $addedFilter_borderColor;
    color: #474b4e;
    font-size: $addedFilter_fontSize;
    position: absolute;
    top: 0;
    z-index: 1;
  }

    .filterFormDropdown__form__header {
      background: $componentBackgroundColor;
      border-bottom: 1px solid #d4d8db;
      display: flex;
      font-weight: 400;
      justify-content: space-between;
      padding: 6px;
      white-space: nowrap;
    }

      .filterFormDropdown__form__header__title {
        width: 100%;
      }

      .filterFormDropdown__form__header__backButton {
        @include backIcon;

        margin-right: 2px;
        top: 2px;
      }

      .filterFormDropdown__form__header__closeButton {
        @include crossIcon($marginTop: 1px, $marginLeft: 5px);

        height: 10px;
        width: 10px;
      }
