.filterDropdownContainer {
  position: relative;
}

  /**
   * 1. Place on top of filterDropdown in z-space.
   */
  .filterDropdownButton {
    @include filterButton;
    cursor: pointer;
    font-size: 16px;
    position: relative; /* 1 */

    &.is-filter-dropdown-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;

      &:after {
        background: $addedFilter_backgroundColor;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 2;
      }
    }
  }

  .filterDropdown {
    background: white;
    border-radius: 0 $addedFilter_borderRadius $addedFilter_borderRadius;
    border: 1px solid $addedFilter_borderColor;
    color: #474b4e;
    font-size: $addedFilter_fontSize;
    position: absolute;
    top: 0;
    z-index: 1;
  }

    .filterList {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .filterDropdown__header {
      background: $componentBackgroundColor;
      border-bottom: 1px solid #d4d8db;
      font-weight: 500;
      padding: 10px 6px;
    }

      .filterDropdown__header .icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        height: 10px;
        margin-right: 3px;
        opacity: 0.5;
        width: 10px;
      }

      .filterDropdown__header span {
        cursor: pointer;
        display: inline-block;
        margin-right: 3px;
      }
