
$toggle__backgroundColor: #edf2f4;
$toggle__borderColor--checked: rgba(#425e67, 0.35);
$toggle__thumbColor--checked: #c9e6f0;

.react-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  position: relative;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.react-toggle-track {
  background-color: $toggle__backgroundColor;
  border: 1px solid $componentStrokeColor;
  border-radius: 3px;
  color: $blue;
  font-size: 10px;
  font-weight: 600;
  height: 18px;
  padding: 0;
  transition: all 0.2s ease;
  width: 43px;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: shade($toggle__backgroundColor, 2%);
}

.react-toggle--checked .react-toggle-track {
  background-color: $toggle__backgroundColor;
}

.react-toggle-track-check {
  left: 5px;
  line-height: initial;
  opacity: 0;
  position: absolute;
  top: 3px;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  color: #7d9caf;
  line-height: initial;
  opacity: 1;
  position: absolute;
  right: 3px;
  top: 3px;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  background-color: $componentBackgroundColor;
  border: 1px solid $componentStrokeColor;
  border-radius: 3px;
  box-sizing: border-box;
  height: 14px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: all 0.25s ease;
  width: 18px;
}

.react-toggle--checked .react-toggle-thumb {
  background-color: $toggle__thumbColor--checked;
  border-color: $toggle__borderColor--checked;
  left: 23px;
}
