
.columnLayout {
  display: flex;
}

.column + .column {
  padding-left: 10px;
}

$numColumns: 12;
@for $i from 1 through $numColumns {
  .column--#{$i} {
    flex: 0 0 $i / $numColumns * 100%;
  }
}
