@use "sass:math";
.column + .column {
  padding-left: 10px;
}

/**
 * 1. Use inline-block instead of flexbox so that content doesn't overflow.
 * 2. Content can be aligned by offsetting from the top.
 */
$numColumns: 12;
@for $i from 1 through $numColumns {
  .column--#{$i} {
    display: inline-block; /* 1 */
    vertical-align: top; /* 2 */
    width: math.div($i, $numColumns) * 100%;
  }
}