
extends ../../_partials/_componentLayout

block title
  title Title Bar

block content

  .exampleContainer.exampleContainer--clear
    #titleBar
  
  .exampleContainer
    #titleBarButton

block component
  div.
    <script>
      window.app.render('titleBar');
    </script>
