
extends ../../_partials/_componentLayout

block title
  title Title Bar

block content

  .exampleContainer.exampleContainer--clear
    #titleBar
  
  .exampleContainer
    #titleBarButton

block component
  div.
    <script type="text/jsx">

      window.renderComponent('titleBar', (
        <TitleBar
          label='Title bar example'
          buttons={[
            <TitleBarButton
              label='Add something'
            />,
            <TitleBarButton
              label='Add something else'
            />
          ]}
        />
      ));

      window.renderComponent('titleBarButton', (
        <TitleBarButton
          label='Title bar button'
        />
      ));

    </script>
