
extends ../../_partials/_componentLayout

block title
  title Title Bar

block content

  .exampleContainer.exampleContainer--clear
    #titleBar
  
  .exampleContainer
    #titleBarButton

block component
  div.
    <script>
      window.renderComponent(
        'titleBar',
        window.React.createElement(
          window.TitleBar,
          {
            label: "checkboxExample",
            buttons: [
              window.React.createElement(
                window.TitleBarButton,
                {
                  label: 'Add something',
                  key: 'button1'
                }
              ),
              window.React.createElement(
                window.TitleBarButton,
                {
                  label: 'Add something else',
                  key: 'button2'
                }
              )
            ]
          }
        )
      );

      window.renderComponent(
        'titleBarButton',
        window.React.createElement(
          window.TitleBarButton,
          {
            label: 'Title bar button',
          }
        )
      );

    </script>
