
extends ../../_partials/_componentLayout

block title
  title IconCog

block content

  .exampleContainer.exampleContainer--clear
    #icon-cog

block component
  div.
    <script type="text/jsx">
      window.renderComponent('icon-cog', (
        <IconCog />
      ));
    </script>
