.pagination {
  line-height: 1;
  margin: 1em auto;
  text-align: center;
}
.pagination ul {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}

.pagination ul li.pagination__enabled {
  cursor: pointer;
}

.pagination ul li {
  display: inline-block;
  border-radius: 3px;
}

.pagination ul li.pagination__page {
  min-width: 28px;
}

.pagination a {
  color: #2799C4;
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;

  padding: .25em;
}

.pagination a:focus,
.pagination a:hover,
.pagination li.pagination__disabled a {
  color: #526770;
}
