
.addOnSelect {
  appearance: none;
  padding: $addOnSidePadding 30px $addOnSidePadding $addOnSidePadding;
  border: 0;
  line-height: 1;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-image: url("data:image/svg+xml;base64,
    PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjx
    zdmcgd2lkdGg9IjExcHgiIGhlaWdodD0iNnB4IiB2aWV3Qm94PSIwIDAgMTEgNiIgdmVyc2lvbj
    0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJod
    HRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9o
    ZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDM
    uNS4yICgyNTIzNSkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+Ci
    AgICA8dGl0bGU+R3JvdXAgMjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoL
    jwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9u
    ZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXR
    jaDp0eXBlPSJNU1BhZ2UiPgogICAgICAgIDxnIGlkPSJHcm91cC0yIiBza2V0Y2g6dHlwZT0iTV
    NMYXllckdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjUwMDAwMCwgMS4wMDAwMDApIHJvd
    GF0ZSgtNDUuMDAwMDAwKSB0cmFuc2xhdGUoLTUuNTAwMDAwLCAtMS4wMDAwMDApIHRyYW5zbGF0
    ZSgyLjAwMDAwMCwgLTMuMDAwMDAwKSIgc3Ryb2tlPSIjNkU3Mzc1IiBzdHJva2UtbGluZWNhcD0
    ic3F1YXJlIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAuMzg4ODg4ODg5LDYuOCBMNi42MTExMT
    ExMSw2LjgiIGlkPSJMaW5lIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgI
    CAgICAgICAgIDxwYXRoIGQ9Ik0wLjM4ODg4ODg4OSw2LjggTDAuMzg4ODg4ODg5LDAuNCIgaWQ9
    IkxpbmUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICA8L2c+CiA
    gICA8L2c+Cjwvc3ZnPg=="
  );
  background-repeat: no-repeat;
  background-position: right 10px top 12px;
  background-size: 11px;
}
