.gridSearch {
  display: flex;

  $gridSearch_height: 23px;

  .gridSearch__input {
    width: 140px;
    height: $gridSearch_height;
    margin: 0;
    padding: 5px 27px 5px 11px;
    border: 1px solid shade($componentStrokeColor, 5%);
    border-radius: 20px;
    background: white;
    font-size: 11px;
    color: shade($componentTextColor, 80%);
  }

  .gridSearch__icon {
    color: shade($componentStrokeColor, 16%);
    width: $gridSearch_height;
    height: $gridSearch_height;
    margin-left: -$gridSearch_height;

    &:before {
      font-size: 11px;
    }
  }
}
