
.body--noscroll {
  overflow: hidden;
}

/**
 * 1. Ensure body element is at least as tall as the window.
 */
.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; /* 1 */
  background-color: #ebf3f5;
}

.body--dark {
  background-color: $darkGrey;
}
