
.bodyPanel {
  margin-top: 15px;
  max-width: $maxWidth;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;

  &.bodyPanel--bottomFlush {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &.bodyPanel--topFlush {
    border-top: 0;
    margin-top: 0;
  }
}
