{
  "env": {
    "jasmine": true
  },
  "extends": "airbnb",
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "arrow-body-style": 0,
    "jasmine/no-disabled-tests": 2,
    "jasmine/no-spec-dupes": [2, "branch"],
    "jasmine/no-suite-dupes": [2, "branch"],
    "jasmine/valid-expect": 0, // Try disabling this

    // Uncomment these
    "react/jsx-no-bind": 0,
    "react/prop-types": 0,
    "no-undef": 0,
    "quote-props": 0,

    "max-len": [2, 180, 2, { // Change 180 to 80
      "ignoreUrls": true,
      "ignoreComments": true
    }],
    "no-multiple-empty-lines": [2, {
      "max": 1,
      "maxEOF": 1
    }]
  }
}
