// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
// Added jsx-quotes and react/jsx-quotes to remove deprecation warning
// ("The react/jsx-quotes rule is deprecated. Please use the jsx-quotes rule instead.")
// Added jasmine rules to make sure our tests are formatted properly and to
// disallow fdescribes.
{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 0,
    "arrow-spacing": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "jasmine/no-disabled-tests": 2,
    "jasmine/no-spec-dupes": [2, "branch"],
    "jasmine/no-suite-dupes": [2, "branch"],
    "jasmine/valid-expect": 0,
    "jsx-quotes": [2, "prefer-double"],
    "max-len": 0,
    "no-multi-spaces": 0,
    "no-multiple-empty-lines": 0,
    "no-param-reassign": 0,
    "no-undef": 0,
    "object-curly-spacing": 0,
    "object-shorthand": 0,
    "prefer-template": 0,
    "quote-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-quotes": 0,
    "react/prop-types": 0,
    "space-in-parens": 0,
  },
  "plugins": [
    "jasmine",
  ]
}
