
$ctaButtonColor: #35d0a0;

.button {
  display: inline-flex;
  align-items: center;
  height: 30px;
  padding: 0 11px;
  font-size: 12px;
  font-weight: 400;
  opacity: 1;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: 0.1s all ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.is-button-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

  .button__icon {
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 10px;
    font-size: 10px;
    opacity: 0.7;
  }

  .button__label {
    display: inline-block;
    vertical-align: middle;
  }

  .button__icon + .button__label {
    margin-left: 2px;
  }

.button--hollow {
  color: #517582;

  &:hover {
    box-shadow: none;
  }
}

/**
 * 1. Fill in the background with the top gradient color to fix an IE11 bug
 *    where the transparent background color was showing through at the top.
 */
.button--primary {
  background: linear-gradient(#54baef, #43b4ef) #54baef; /* 1 */
  color: #ffffff;
  border-color: #2ca7e8;
}

.button--callOut {
  background: $ctaButtonColor;
  color: #ffffff;
  border-color: $ctaButtonColor;
}
