
$appHeaderDivider_color: #26373e;

.appHeaderDivider {
  align-items: center;
  display: flex;
}

  .appHeaderDivider__divider {
    background-color: $appHeaderDivider_color;
    height: 15px;
    width: 1px;
    margin: 0 10px;
  }
