
$gridIconSize: 14px;

/**
 * 1. Minor vertical alignment adjustment within grid rows.
 */
.gridIcon {
  display: inline-block;
  width: $gridIconSize;
  height: $gridIconSize;
  vertical-align: top; /* 1 */
  opacity: 0.6;
  cursor: pointer;

  &:hover {
    opacity: 0.25;
  }

  & + & {
    margin-left: 15px;
  }
}
