.sourceCodeViewer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(100% - #{$sourceCodeViewerWidth});
  padding: 0 30px 20px;
  overflow: auto;
  background: #f8f5ec;
  border-left: 10px solid #f1ede4;
  transform: translateX($sourceCodeViewerWidth);
  transition: transform 0.25s ease-out;
  -webkit-font-smoothing: auto;

  &.is-source-code-viewer-open {
    transform: translateX(0);
  }
}

// HLJS

.hljs {
  display: block;
  padding: 15px 20px;
  color: #637c84;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Ubuntu Mono', monospace;
}

.hljs-keyword {
  color: #b58900;
}

.hljs-function {
  .hljs-keyword {
    color: #268bd2;
  }

  .hljs-title {
    color: #7441c6;
  }
}

.hljs-built_in {
  color: #268bd2;
}

.hljs-string {
  color: #36958e;
}

.hljs-comment {
  color: #9d9d9d;
}

.hljs-number,
.hljs-literal {
  color: #d84a7e;
}

.hljs-tag {
  .hljs-name {
    color: #63a35c;
  }

  .hljs-attr {
    color: #795da3;
  }

  .hljs-string {
    color: #df5000;
  }
}
