$accountPicture_side: 22px;
$accountNav_padding: 2px;
$accountNav_height: $accountPicture_side + $accountNav_padding * 2;
$accountNav_borderRadius: $accountNav_height / 2;

.accountNav {
  display: flex;
  align-items: center;
}

  .accountNav__user {
    display: inline-flex;
    align-items: center;
    color: $appHeaderNav_textColor;
    padding: $accountNav_padding 8px $accountNav_padding $accountNav_padding;
    border-radius: $accountNav_borderRadius;
    font-size: 12px;
    line-height: $lineHeight;
    cursor: pointer;

    &:hover {
      background: scale-lightness($appHeaderNav_backgroundColor, -13%);
      transition: 0.1s all ease-in-out;
    }
  }

    .accountNav__email {
      display: inline-block;
      margin-left: 4px;
      cursor: pointer;

      @media #{$viewport_normalScreen} {
        display: none;
      }
    }

    // .accountDropdownArrow {
    //   display: inline-block;
    //   position: relative;
    //   height: $accountDropdownArrowSide;
    //   width: $accountDropdownArrowSide;
    //   border: solid #ffffff;
    //   transform: rotate(45deg);
    //   border-width: 0 1px 1px 0;
    //   top: -$accountDropdownTop;

    //   &.is-account-dropdown-arrow-open {
    //     border-width: 1px 0 0 1px;
    //     top: $accountDropdownTop;
    //   }
    // }
