$accountPicture_side: 22px;
$accountNav_padding: 2px;
$accountNav_height: $accountPicture_side + $accountNav_padding * 2;
$accountNav_borderRadius: $accountNav_height / 2;

.accountNav {
  display: flex;
  align-items: center;
  color: $appHeaderNav_textColor;
  padding: $accountNav_padding 8px $accountNav_padding $accountNav_padding;
  border-radius: $accountNav_borderRadius;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background: scale-lightness($appHeaderNav_backgroundColor, -13%);
    transition: 0.1s all ease-in-out;
  }
}

  .accountNav__email {
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;
    line-height: $lineHeight;

    @media #{$viewport_normalScreen} {
      display: none;
    }
  }
