.appHeader {
  width: 100%;
  background: $appHeaderNav_backgroundColor;
  height: 45px;
}

  /**
   * 1. Centers the appHeader, specifically in IE11.
   */
  .appHeader__liner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; /* 1 */
    // This allows children to take height from component root element
    height: inherit;
    flex: 1;
    max-width: $maxWidth;

    @media #{$viewport_wideScreen} {
      padding: 0 15px;
    }
  }

$appHeaderDropdownArrowSide: 7px;
// Could be an overkill, but at least it is clear where this value comes from.
// By applying resulted value to 'top' prop we can perfectly center vertically.
// First find hypotenuse of the right-angled triangle
$appHeaderDropdownArrowHypotenuse: sqrt(2) * $appHeaderDropdownArrowSide;
// Divide hypotenuse by 4 to get a half of a projection of cathetus to hypotenuse.
$appHeaderDropdownArrowTop: $appHeaderDropdownArrowHypotenuse / 4;

.appHeaderDropdownArrow {
  display: inline-block;
  position: relative;
  height: $appHeaderDropdownArrowSide;
  width: $appHeaderDropdownArrowSide;
  border: solid #ffffff;
  transform: rotate(45deg);
  border-width: 0 1px 1px 0;
  top: -$appHeaderDropdownArrowTop;
  margin-left: 4px;

  &.is-app-header-dropdown-arrow-open {
    border-width: 1px 0 0 1px;
    top: $appHeaderDropdownArrowTop;
  }
}
