.appNav {
  display: flex;
  height: inherit;
}

  .appNav__link {
    // This helps to inherit height from parent
    display: flex;
    color: $appHeaderNav_textColor;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 24px;
    font-weight: 400;
    transition: 0.2s padding ease-in-out, 0.06s background ease-in-out;

    @media #{$viewport_normalScreen} {
      padding: 0 14px;
      font-size: 12px;
    }

    &:hover {
      background: scale-lightness($appHeaderNav_backgroundColor, 5%);
    }

    &.is-app-nav-link-selected {
      cursor: default;
      background: $appHeaderNav_selectedColor;
    }
  }
