.accountPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $accountPicture_side;
  height: $accountPicture_side;
  border-radius: calc($accountPicture_side / 2);
  // Affects vertical-alignment.
  // Icon is 1px off in .exampleContainer, when this is not set,
  // but always fine inside .appHeader
  line-height: $accountPicture_side;
  overflow: hidden;
  background: scale-lightness($appHeaderNav_backgroundColor, 10%);
}

  .accountPicture__icon {
    width: 10px;
    height: 10px;
    opacity: 0.5;
  }