.secondaryNavBar__linksContainer {
  // Inherits the width of the parent
  display: flex;
  height: inherit;
  align-items: flex-end;
}

  .secondaryNavBar__link,
  .secondaryNavBar__ellipsis {
    height: 30px;
  }

  .secondaryNavBar__link a,
  .secondaryNavBar__ellipsis {
    display: flex;
    align-items: center;
  }

  .secondaryNavBar__link {
    margin-right: 10px;
    transition: 0.2s margin ease-in-out, 0.06s background ease-in-out;

    @media #{$viewport_normalScreen} {
      margin-right: 0;
    }

    &:hover {
      background: rgba(white, 0.15);
    }

    a {
      height: inherit;
      color: white;
      font-size: 13px;
      padding: 0 12px;

      &.selected {
        color: scale-lightness(
          scale-saturation($secondaryNavBackgroundColor, -70%), -13%
        );
        background: $secondaryNavSelectedColor;
        cursor: default;
      }

      .icon {
        $iconSize: 12px;
        font-size: $iconSize;
        width: $iconSize;
        margin-right: 4px;
      }
    }
  }

  .secondaryNavBar__ellipsis {
    color: white;
    opacity: 0.6;
    cursor: pointer;

    &:before {
      // Cancel inherited position: absolute from glyphicons
      position: static;
    }

    &:hover {
      opacity: 1;
    }
  }
