
$addedFilter_backgroundColor: shade(scale-saturation($componentBackgroundColor, 60%), 3%);
$addedFilter_borderColor: shade(scale-saturation($componentBackgroundColor, 100%), 14%);
$addedFilter_borderRadius: 2px;
$addedFilter_paddingHorizontal: 8px;
$addedFilter_fontSize: 12px;

@mixin filterButton {
  align-items: center;
  background: $addedFilter_backgroundColor;
  border: 1px solid $addedFilter_borderColor;
  border-radius: $addedFilter_borderRadius;
  color: $componentTextColor;
  cursor: default;
  display: flex;
  font-size: 12px;
  height: 26px;
  margin-right: 2px;
  padding: 0 $addedFilter_paddingHorizontal;
}

.filterControl {
  display: flex;
  line-height: $lineHeight;
}
