
extends ../../_partials/_componentLayout

block title
  title Icon

block content

  .exampleContainer.exampleContainer--clear
    span#icon
    | &nbsp;
    span#icon-ellipsis
    | &nbsp;
    span#icon-cog

block component
  div.
    <script>
      window.app.render('icon');
    </script>
