
extends ../../_partials/_componentLayout

block title
  title Grid

block content

  .exampleContainer.exampleContainer--clear
    #grid

block component
  div.
    <script>
      window.app.render('grid');
    </script>
