
extends ../../_partials/_componentLayout

block title
  title Grid

block content

  .exampleContainer.exampleContainer--clear
    #grid

block component
  div.
    <script>
      window.renderComponent(
        'grid',
        window.React.createElement(
          window.GridExample,
          null
        )
      );
    </script>
