
.gridBodyCell {
  @include gridCellPadding;
  border-bottom: 1px dashed $componentStrokeColor;
  font-weight: 300;
  vertical-align: middle;
  max-width: 250px;
}

.gridBodyCell--lastRow {
  border-bottom: 0;
}

  /*
   * 1. Truncate text with ellipsis.
   * 2. Line-height makes sure 'g' isn't cut off at the bottom.
   */
  .gridBodyCellLiner {
    width: 100%; /* 1 */
    overflow: hidden; /* 1 */
    text-overflow: ellipsis; /* 1 */
    white-space: nowrap; /* 1 */
    line-height: 1.2; /* 2 */
  }

  .gridBodyCellLiner--overflow {
    overflow: visible;
  }

    /*
     * 1. Truncate text with ellipsis.
     */
    .gridBodyEditableCell {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 4px 5px;
      color: $componentTextColor;
      max-width: 100%; /* 1 */
      overflow: hidden; /* 1 */
      text-overflow: ellipsis; /* 1 */
      white-space: nowrap; /* 1 */
      border: 1px dashed transparent;
      border-radius: 4px;

      &:hover {
        border-color: $componentStrokeColor;
        background: $componentBackgroundColor;

        &:after {
          $shadowSize: 20px;
          position: absolute;
          z-index: 2;
          right: -$shadowSize;
          top: 0;
          bottom: 0;
          width: $shadowSize;
          content: ' ';
          box-shadow: -$shadowSize 0 10px 2px $componentBackgroundColor;
          pointer-events: none;
        }

        .gridBodyEditableCell__icon {
          opacity: 0.4;
        }
      }
    }

      .gridBodyEditableCell__content {
        position: relative;
      }

      .gridBodyEditableCell__icon {
        $iconSize: 11px;
        display: inline-block;
        position: absolute;
        top: 6px;
        right: 2px;
        z-index: 3;
        width: $iconSize;
        height: $iconSize;
        background-color: $componentBackgroundColor;
        opacity: 0;
      }
