.grid__body__row {
  &:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  .grid--reverseStriped & {
    &:nth-of-type(odd) {
      background-color: transparent;
    }

    &:nth-of-type(even) {
      background-color: #f9f9f9;
    }
  }
}
