.p-mainNavBar__account {
  color: $appHeaderNav_textColor;
  float: right;
  line-height: 22px;
  overflow: hidden;
  height: 22px;
  padding: 2px 8px 3px 4px;
  margin: 8px 0 9px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  label {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    @media #{$viewport_normalScreen} { display: none; }
  }
  .p-dropdownArrow {
    height: 10px;
    width: 10px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: center;

    &:after {
      position: absolute;
      width: 6px;
      height: 6px;
      top: 0;
      left: 2px;
      display: block;
      content: '';
      border-bottom: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      transform: rotate(45deg);
    }
  }
  .icon {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-right: 2px;
    position: relative;
    display: inline-block;
    vertical-align:top;
    background: scale-lightness($appHeaderNav_backgroundColor, 10%);
    border-radius: 22px;
    &:before {
      font-size: 11px;
      left: 5px;
      color: $appHeaderNav_textColor;
      opacity: .6;
    }
  }
  &:hover { 
    background: scale-lightness($appHeaderNav_backgroundColor, -13%);
    transition: .1s all ease-in-out;
  }
}