.p-mainNavBar {
  box-shadow: 0 42px 0 $blue;
  background: $mainNavBackgroundColor;
  text-align: center;
}

  .p-mainNavBar__liner {
    max-width: $maxWidth;
    margin: 0 auto;
    @media #{$viewport_wideScreen} {
      padding: 0 8px 0 15px;
    }
  }

    .p-mainNavBar__logo {
      text-indent: -999em;
      float: left;
      width: 76px;
      height: 17px;
      margin: 13px 0 15px;
      background-image: url($logo_76px);
      background-size: 76px 17px;
      background-position: right top;
      background-repeat: no-repeat;
      @media #{$viewport_normalScreen} { width: 17px; }
    }
    
    @import 'account';
    @import 'links';