.titleBar__title {
  background: $titleBarBackgroundColor;
  color: $titleBarTextColor;
  font-size: 16px;
  padding-left: 15px;
  line-height: 54px;
  display: table-cell;
  background: white;
  vertical-align: middle;
}