.conditionCheckerForm__filterName {
  font-weight: 400;
}

.conditionCheckerForm__filterName,
.conditionCheckerForm__filterValueWrapper {
  margin-bottom: $addedFilter_paddingHorizontal / 2;
}

.conditionCheckerForm__buttons {
  display: flex;
  justify-content: space-between;
}
