html

  include ./_head.jade

  body.exampleComponent

    include ./_nav.jade

    block content

    script.

      // Render a component into an element with an ID.
      window.renderComponent = function(elementId, component) {
        ReactDOM.render(
          component,
          document.getElementById(elementId)
        );
      };

    block component
