#examplesNavMenuButton.examplesNavMenuButton
  | Nav
  
#examplesNavMenu.examplesNavMenu

script.

  var menu = $('#examplesNavMenu');

  var integrations = [
    'tableView'
  ];

  var components = [
    'titleBar',
    'Grid'
  ];

  function addNavItems(source, rootDir) {
    for (var i = 0; i < source.length; i++) {
      var value = source[i];
      var markup = [
        '<a class="examplesNavButton" href="',
        '/' + rootDir + '/' + value + '/' + value + '.html"',
        '>' + value + '</a>'
      ].join('');
      var button = $(markup);
      menu.append(button);
    }
  }

  function addTitle(name) {
    menu.append($('<div class="examplesNavMenuTitle">' + name + '</div>'));
  }

  addTitle('Integrations');
  addNavItems(integrations, 'integrations');

  addTitle('Components');
  addNavItems(components, 'components');

  $('#examplesNavMenuButton').on('click', function() {
    menu.toggleClass('is-examples-nav-menu-visible');
  });