html
  head
    title Grid View Prototype
    link(rel='stylesheet', href='/prototype/prototype.css')
  body
    .p-mainNavBar
      .p-mainNavBar__liner
        a.p-mainNavBar__account
          span.icon.glyphicons-user
          label han.solo@smaato.com
          span.p-dropdownArrow
        a.p-mainNavBar__logo(href='#') Smaato
        ul.p-mainNavBar__links__container
          li.p-mainNavBar__link.selected
            a(href='#') Transportation
          li.p-mainNavBar__link
            a(href='#') Camping
          li.p-mainNavBar__link
            a(href='#') Storage
          li.p-mainNavBar__link
            a(href='#') Misc
    .p-secondaryNavBar
      .p-secondaryNavBar__liner
        .p-secondaryNavBar__linksWrapper
          ul.p-secondaryNavBar__linksContainer
            li.p-secondaryNavBar__link.selected
              a(href='#')
                span.icon.glyphicons-car
                | Automobile
            li.p-secondaryNavBar__link
              a(href='#')
                span.icon.glyphicons-train
                | Train
            li.p-secondaryNavBar__link
              a(href='#')
                span.icon.glyphicons-airplane
                | Airplane
            li.p-secondaryNavBar__link
              a(href='#')
                span.icon.glyphicons-bicycle
                | Bicycle
            li.p-secondaryNavBar__link
              a(href='#')
                span.icon.glyphicons-person-walking
                | Walking
            li.p-secondaryNavBar__ellipsis.glyphicons-more
            li.p-secondaryNavBar__mask
              .p-secondaryNavBar__maskInner
        ul.p-dateRange
          li.p-dateRange__option.p-dateRange__option--required
            a.p-dateRange__trigger
              span.icon.glyphicons-calendar
              | Jul 18-Jul 28
          li.p-dateRange__option
            label.p-dateRange__compareToggle
              input(type='checkbox')
              |  Compare
          li.p-dateRange__option
            span.p-dateRange__goTo
              a.prev(href='')
                span.prevArrow
              a.next(href='')
                span.nextArrow
              span.clear
    .titleBar
      label.titleBar__title
        | Cars, Trucks, & Motorcycles
      .titleBar__buttonContainer
        a.titleBarButton.button.button--primary(href='')
          span.titleBarButton__icon.glyphicons-plus
          | New Automobile
    .dataTable__tableControls
      .dataTable__tableControls__liner
        .dataTable__filtersWrapper
          ul.dataTable__filtersContainer
            li.dataTable__filter
              span.filterTitle
                strong Status:
                |  In Production
              a.remove(href='')
                span.icon.glyphicons-remove-2
            li.dataTable__filter
              span.filterTitle
                strong Cylinders:
                |  8+
              a.remove(href='')
                span.icon.glyphicons-remove-2
            li.dataTable__filter
              span.filterTitle
                strong Passengers:
                |  2+
              a.remove(href='')
                span.icon.glyphicons-remove-2
            li.dataTable__filter
              span.filterTitle
                strong Fuel Economy:
                |  10mpg+
              a.remove(href='')
                span.icon.glyphicons-remove-2
            li.dataTable__filter
              span.filterTitle
                strong Fuel:
                |  Not Electric
              a.remove(href='')
                span.icon.glyphicons-remove-2
            li.dataTable__mask
              span.mask-inner
            li.dataTable__ellipsis
              span.icon.glyphicons-more
              a.add(href='#') +
            li.dataTable__addFilter
              a(href='#') +
        .dataTable__batch
          a.dataTable__batch__button.disabled(href='')
            span.icon.glyphicons-new-window
            | Actions
        .dataTable__search
          label.dataTable__search__input
            input(type='text')
            span.icon.glyphicons-search
    .dataTable__tableControls__placeholder
    .dataTable__container
      .dataTable__thead__placeholder
        .dataTable__thead__placeholder__liner
      table.dataTable__table
        thead.dataTable__thead
          tr.dataTable__thead__row.dataTable__thead__row--placeholder
            th.dataTable__thead__cell
              span.dataTable__thead__cellLiner
                span.checkboxWrapper
                  input#table_batch.checkbox__input(type='checkbox', name='table_batch')
                  label.checkbox__faux__input(for='table_batch')
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Name
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Status
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Fuel
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Passengers
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Cylinders
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Fuel Economy
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable.selected.reverse
              span.dataTable__thead__cellLiner
                a
                  | # Sold
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Registered
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell
              span.dataTable__thead__cellLiner
          tr.dataTable__thead__row
            th.dataTable__thead__cell
              span.dataTable__thead__cellLiner
                span.checkboxWrapper
                  input#table_batch.checkbox__input(type='checkbox', name='table_batch')
                  label.checkbox__faux__input(for='table_batch')
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Name
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Status
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Fuel
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Passengers
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Cylinders
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Fuel Economy
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable.selected.reverse
              span.dataTable__thead__cellLiner
                a
                  | # Sold
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell.sortable
              span.dataTable__thead__cellLiner
                a
                  | Registered
                  span.arrowUp
                    span.arrowUp__centerLine
                  span.arrowDown
                    span.arrowDown__centerLine
            th.dataTable__thead__cell
              span.dataTable__thead__cellLiner
        tbody.dataTable__tbody
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
          tr
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.checkboxWrapper
                  input#item_1.checkbox__input(type='checkbox', name='item_1')
                  label.checkbox__faux__input(for='item_1')
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--link.blueLink(href='#') Ford F150
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') In Production
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') Diesel, Unleaded
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  span.icon.glyphicons-user
                  | 3, 5, 6
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#') 6, 8
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.dataTable__tbody__cellValue--editable(href='#')
                  | 25mpg
                  span.icon.glyphicons-leaf
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 202.1k
                  span.dataTable__tbody__cellChange.up +2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                span.dataTable__tbody__cellValue--readOnly
                  | 200.5k
                  span.dataTable__tbody__cellChange.down -2%
            td.dataTable__tbody__cell
              span.dataTable__tbody__cellLiner
                a.icon.glyphicons-more(href='')
                a.icon.glyphicons-cogwheel(href='')
        tfoot
          tr
            td
            td
            td
            td
            td
            td
            td
            td
              span.dataTable__tbody__cellLiner 152.1m
    td
      span.dataTable__tbody__cellLiner Registered
    td
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript').
      var $window = $(window);
      var $body = $("body");
      $window.scroll(function() {
      var scrollTop = $body.scrollTop();
      if(scrollTop > 139) $body.addClass("fixedThead");
      else $body.removeClass("fixedThead");
      });
