.radioButtons {
  &--element {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &--element:not(:last-child) {
    margin-bottom: 8px;
  }

  &--inputRadioButton {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px #D4DADC solid;
    border-radius: 50%;
    background: #fff;

    &-active {
      background-color: #47B6F0;
      border: 1px solid #D4DADC;
      box-shadow: inset 0 0 0 3px #fff;
    }
  }

  &--label {
    display: inline-block;
    margin-left: 8px;
  }
}
