
extends ../_partials/_exampleLayout.jade

block title
  title Title Bar

block content

  .titleBar
    label.titleBar__title
      | Cars, Trucks, &amp; Motorcycles
    .titleBar__buttonContainer
      a.titleBar__button.button.button--primary(href='')
        span.icon.glyphicons-plus
        | New Automobile