
extends ../_partials/_componentLayout.jade

block title
  title Grid

block content

  .exampleContainer.exampleContainer--clear
    #grid

block component
  div.
    <script type="text/jsx">
      window.renderComponent('grid', (
        <GridExample />
      ));
    </script>
    <style type="text/css">
      #grid .dataTable__thead__placeholder {
        top: 0;
      }
      .fixedThead #grid .dataTable__thead__row:not(.dataTable__thead__row--placeholder) .dataTable__thead__cellLiner {
        top: 1px;
      }
      .fixedThead #grid .dataTable__thead__row--placeholder .dataTable__thead__cellLiner {
        height: auto;
      }
    </style>
