
extends ../../_partials/_componentLayout

block title
  title CheckBox

block content

  .exampleContainer.exampleContainer--clear
    #check-box

block component
  div.
    <script>
      window.app.render('checkBox');
    </script>
