
extends ../../_partials/_componentLayout

block title
  title IconEllipsis

block content

  .exampleContainer.exampleContainer--clear
    #icon-ellipsis

block component
  div.
    <script type="text/jsx">
      window.renderComponent('icon-ellipsis', (
        <IconEllipsis />
      ));
    </script>
