
$fieldMessage_borderColor: #e6e6ae;
$fieldMessage_bgColor: $yellow;
$fieldMessage_arrowSide: 6px;

.fieldMessage {
  position: relative;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #676747;
  padding: 8px;
  margin-top: 7px;
  border: 1px solid $fieldMessage_borderColor;
  border-radius: 3px;
  background-color: $fieldMessage_bgColor;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    display: block;
    width: $fieldMessage_arrowSide;
    height: $fieldMessage_arrowSide;
    border: solid $fieldMessage_borderColor;
    background-color: $fieldMessage_bgColor;
    border-width: 1px 0 0 1px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -$fieldMessage_arrowSide;
    margin-top: -4px;
    transform: rotate(45deg);
  }
}
