.dataTable__tfoot__cell {
  vertical-align: middle;
  line-height: 30px;
}

.dataTable__tfoot__cell:first-child {
}

  .dataTable__tfoot__cellLiner {
    padding: 0 8px;
    height: 31px;
  }

  .dataTable__tfoot__cell:first-child .dataTable__tfoot__cellLiner {
    padding-left: 15px;
  }

  .dataTable__tfoot__cell:last-child .dataTable__tfoot__cellLiner {
    padding-right: 15px;
  }
