
$fieldError_borderColor: #e6e6ae;
$fieldError_bgColor: #ffffc5;
$fieldError_arrowSide: 6px;

.fieldError {
  position: relative;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #676747;
  padding: 8px;
  margin-top: 7px;
  border: 1px solid $fieldError_borderColor;
  border-radius: 3px;
  background-color: $fieldError_bgColor;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    display: block;
    width: $fieldError_arrowSide;
    height: $fieldError_arrowSide;
    border: solid $fieldError_borderColor;
    background-color: $fieldError_bgColor;
    border-width: 1px 0 0 1px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -$fieldError_arrowSide;
    margin-top: -4px;
    transform: rotate(45deg);
  }
}
