
$summaryControlIconSize: 12px;

.summaryControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  padding: 0 8px;
  line-height: 1.2;
  color: #444444;
  border: 1px solid #c3cfd6;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 1px rgba(#c3cfd6, 0.25);
  cursor: pointer;
}

  .summaryControl__icon {
    height: $summaryControlIconSize;
    width: $summaryControlIconSize;
    vertical-align: top;
    margin-right: 5px;
  }

  .summaryControl__label {
    flex: 1;
  }

  .summaryControl__cogIcon {
    height: $summaryControlIconSize;
    width: $summaryControlIconSize;
    opacity: 0.25;
  }

/**
 * 1. Don't fill container width.
 * 2. Non-clickable.
 */
.summaryControl--static {
  display: inline-flex; /* 1 */
  box-shadow: none; /* 2 */
  cursor: default; /* 2 */
}
