
.summaryControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  padding: 0 8px;
  line-height: 1.2;
  color: #444444;
  border: 1px solid #c3cfd6;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 1px rgba(#c3cfd6, 0.25);
  cursor: pointer;
}

  .summaryControl__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    // TODO: Figure out a better way to configure colors or icon styles
    .glyphicons-ok-2 {
      color: #86d680;
    }

    .glyphicons-paperclip {
      color: #95a4ac;
    }
  }

  .summaryControl__label {
    flex: 1;
  }

  .summaryControl__cogIcon {
    color: #95a4ac;

    // TODO: Figure out a way to set size on icon without violating BEM
    .icon {
      font-size: 13px;
    }
  }
