
.stickyGrid {
  position: relative;
}

  /**
   * This header is hidden until the user scrolls down far enough for the
   * grid header to become stuck.
   *
   * 1. Prevent cells from overflowing the header.
   */
  .stickyGridHeader {
    @include gridBaseStyles;
    background: $componentBackgroundColor;
    border: $gridContainerBorder;
    border-bottom: 1px solid $componentStrokeColor;
    border-top: 0;
    display: none;
    height: 31px;
    line-height: 30px;
    overflow: hidden; /* 1 */
    position: fixed;
    top: 0;
    z-index: 100;

    /**
     * We stick the header with display instead of position, to avoid incurring
     * a reflow and repaint.
     */
    .is-grid-header-stuck > & {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

    .stickyGridHeaderCell {
      @include gridCellPadding;
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
