
.stickyGrid {
  position: relative;
}

  /**
   * This header is hidden until the user scrolls down far enough for the
   * grid header to become stuck.
   */
  .stickyGridHeader {
    @include gridBaseStyles;
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 31px;
    border: $gridContainerBorder;
    border-bottom: 1px solid $componentStrokeColor;
    background: $componentBackgroundColor;

    /**
     * We stick the header with display instead of position, to avoid incurring
     * a reflow and repaint.
     */
    .is-grid-header-stuck > & {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

    .stickyGridHeaderCell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      padding-left: 8px;
      padding-right: 8px;

      &:first-child {
        padding-left: $gridRowBookendPadding;
      }

      &:last-child {
        padding-right: $gridRowBookendPadding;
      }
    }
