
.statusDot {
  $statusDotSize: 10px;
  display: inline-block;
  width: $statusDotSize;
  height: $statusDotSize;
  border-radius: 100%;
  border: 1px solid $statusDefaultLineColor;
  background-color: $statusDefaultFillColor;
}

.statusDot--negative {
  border: 1px solid $statusNegativeLineColor;
  background-color: $statusNegativeFillColor;
}

.statusDot--positive {
  border: 1px solid $statusPositiveLineColor;
  background-color: $statusPositiveFillColor;
}
