.appTitleContainer {
  position: relative;
  line-height: $lineHeight;
}

  .appTitleContainer__title {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .appTitleContainer__target {
    position: absolute;
    top: -6px;
    left: 0;
    z-index: 10;
  }
