
.textArea {
  @include field;
  padding: $fieldPadding;
  min-height: 65px;
  resize: none;
}

.textArea--fullWidth {
  width: 100%;
}

.textArea--resizable {
  resize: vertical;
}

.is-text-box-error {
  @include fieldError;
}
