.grid__controls {
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
  .fixedThead & {
    position: fixed;
    top: 0;
    z-index: 5;
  }
}

  .grid__controls__liner {
    max-width: $maxWidth;
    margin: 0 auto;
    border: solid $componentStrokeColor;
    border-width: 1px 1px 0 1px;
    background: $componentBackgroundColor;
    display: table;
    width: 100%;
    text-align: left;
  }

    // Direct children of .grid__controls__liner
    .grid__filtersWrapper,
    .grid__batch,
    .grid__search {
      display: table-cell;
      vertical-align: middle;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .grid__filtersWrapper {
      padding-left: 15px;
    }

    .grid__search {
      padding-right: 15px;
    }

.grid__controls__placeholder {
  .fixedThead & {
    height: 71px;
    max-width: $maxWidth;
    margin: 0 auto;
    background: $componentBackgroundColor;
  }
}

  @import 'filters';
  @import 'batch';
  @import 'search/index';
