
/**
 * 1. Center modal vertically and horizontally in IE11, and allow the container
 *    to scroll if the modal is clipped.
 * 2. Center modal vertically.
 */
.modalStack {
  flex: 0 0 auto; /* 1 */
  margin: auto; /* 2 */
  position: relative;

  .modal {
    height: inherit;
  }
}

  .stackedModal {
    position: absolute;
    height: inherit;
    transform-origin: top center;
  }

  /**
   * 1. Use margin and translate to center the modal horizontally.
   */
  .stackedModal--depth2 {
    margin-top: -30px;
    margin-left: 50%; /* 1 */
    transform: translateX(-50%) scale(0.9, 0.9); /* 1 */
  }

  /**
   * 1. Use margin and translate to center the modal horizontally.
   */
  .stackedModal--depth3 {
    margin-top: -50px;
    margin-left: 50%; /* 1 */
    transform: translateX(-50%) scale(0.8, 0.8); /* 1 */
  }

  .stackedModal--depthMax {
    display: none;
  }
