
/**
 * 1. Center modal vertically and horizontally in IE11, and allow the container
 *    to scroll if the modal is clipped.
 * 2. Center modal vertically.
 */
.modalStack {
  flex: 0 0 auto; /* 1 */
  margin: auto; /* 2 */
  padding-bottom: 10px;
}

  /**
   * 1. We need to form a stacking context so that the first modal isn't hidden
   *    behind the other modals.
   */
  .stackedModal--depth1 {
    transform: scale(1, 1); /* 1 */
  }

  .stackedModal--depth2 {
    margin-bottom: -15px;
    transform: scale(0.9, 0.9);

    // Hide content of hidden modals except their header
    .modal > :not(.modalHeader) {
      display: none;
    }
  }

  .stackedModal--depth3 {
    margin-bottom: -45px;
    transform: scale(0.8, 0.8);

    // Hide content of hidden modals except their header
    .modal > :not(.modalHeader) {
      display: none;
    }
  }

  .stackedModal--depthMax {
    display: none;
  }
