
@import '../framework/index';
@import 'styles/index';

.dataTable__table {
  display: table;
}

  .dataTable__thead {
    display: table-header-group;
  }

  .dataTable__tbody {
    display: table-row-group;
  }

  .dataTable__tfoot {
    display: table-footer-group;
  }

    .dataTable__thead__row,
    .dataTable__tbody__row,
    .dataTable__tfoot__row {
      display: table-row;
    }

      .dataTable__thead__cell,
      .dataTable__tbody__cell,
      .dataTable__tfoot__cell {
        display: table-cell;
      }
