.modalConfirmationBody {
  padding: 30px $modalPadding 15px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/**
 * 1. Space children apart.
 */
.modalConfirmationFooter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 0 $modalPadding $modalPadding;

  > * {
    margin: 0 5px; /* 1 */
  }
}
