
/**
 * Courtesy http://projects.lukehaas.me/css-loaders/
 */
.spinner {
  display: inline-block;
  font-size: 0.1em;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  // scss-lint:disable DuplicateProperty
  background: #ffffff;
  background: linear-gradient(to right, rgba(black, 0.5) 10%, rgba(black, 0) 42%);
  // scss-lint:enable DuplicateProperty
  position: relative;
  animation: spin 1.4s infinite linear;
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: rgba(black, 0);
    border-radius: 100% 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
