.grid__header__cell {
  vertical-align: middle;
  line-height: 30px;

  &.sortable {
    .arrowDown,
    .arrowUp {
      display: none;
    }

    &:hover a {
      background: shade($componentBackgroundColor, 3%);
      cursor: pointer;
    }

    &.selected {
      a {
        white-space: nowrap;

        .arrowDown {
          display: inline-block;
        }
      }

      &.reverse {
        .arrowDown {
          display: none;
        }

        .arrowUp {
          display: inline-block;
        }
      }
    }
  }
}

  .grid__header__cellLiner {
    @extend .grid__headerBG;
    display: block;
    z-index: 6;
    padding: 0 8px;
  }

  .grid__header__cell:first-child .grid__header__cellLiner {
    padding-left: 15px;
  }

  .grid__header__cell:last-child .grid__header__cellLiner {
    padding-right: 15px;
  }

  .grid__header__row--placeholder .grid__header__cellLiner {
    height: 0;
    border: 0;
    overflow: hidden;
  }
