.grid__headerBG {
  border-bottom: 1px solid $componentStrokeColor;
  background: $componentBackgroundColor;
  height: 31px;
}

.fixedThead {

  .grid__header__placeholder {
    left: 0;
    right: 0;
    top: 40px;
    position: fixed;
    z-index: 5;
    text-align: center;
  }

    .grid__header__placeholder__liner {
      @extend .grid__headerBG;
      max-width: $maxWidth;
      border-top: 1px solid $componentStrokeColor;
      margin: 0 auto;
      text-align: left;
      border-left: 1px solid $componentStrokeColor;
      border-right: 1px solid $componentStrokeColor;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.05);
    }

  .grid__header__row:not(.grid__header__row--placeholder) .grid__header__cellLiner {
    position: fixed;
    top: 41px;
  }
}
