.dataGrid__theadBG {
  border-bottom: 1px solid $componentStrokeColor;
  background: $componentBackgroundColor;
  height: 31px;
}

.fixedThead {

  .dataGrid__thead__placeholder {
    left: 0;
    right: 0;
    top: 40px;
    position: fixed;
    z-index: 5;
    text-align: center;
  }
  
    .dataGrid__thead__placeholder__liner {
      border-top: 1px solid $componentStrokeColor;
      @extend .dataGrid__theadBG;
      max-width: $maxWidth;
      margin: 0 auto;
      text-align: left;
      border-left: 1px solid $componentStrokeColor;
      border-right: 1px solid $componentStrokeColor;
      box-shadow: 0 3px 4px rgba(0, 0, 0, .05);
    }
    
  .dataGrid__thead__row:not(.dataGrid__thead__row--placeholder) .dataGrid__thead__cellLiner {
    position: fixed !important;
    top: 41px;
  }
}

.dataGrid__container {}
    
  .dataGrid__thead__cell {
    vertical-align: middle;
    line-height: 30px;

    &.sortable {
      span.arrowDown,
      span.arrowUp {
        display: none;
      }
      &:hover a {
        background: shade($componentBackgroundColor, 3%);
        cursor: pointer;
      }
      &.selected {
        a {
          white-space: nowrap;
          span.arrowDown {
            display: inline-block;
          }
        }
        &.reverse {
          span.arrowDown {
            display: none;
          }
          span.arrowUp {
            display: inline-block;
          }
        }
      }
    }
  }

  .dataGrid__thead__cell:first-child {
  }

    .dataGrid__thead__cellLiner {
      display: block;
      z-index: 6;
      padding: 0 8px;

      @extend .dataGrid__theadBG;
    }

    .dataGrid__thead__cell:first-child .dataGrid__thead__cellLiner {
      padding-left: 15px;
    }

    .dataGrid__thead__cell:last-child .dataGrid__thead__cellLiner {
      padding-right: 15px;
    }

    .dataGrid__thead__row--placeholder .dataGrid__thead__cellLiner {
      height: 0;
      border: 0;
      overflow: hidden;
    }
