
.conditionCheckerList {
  display: flex;
}

  .conditionCheckerListItem {
    @include filterButton;

    &:hover {
      .conditionCheckerListItem__removeButton {
        opacity: 0.8;
      }
    }
  }

    .conditionCheckerListItem__label {
      max-width: 115px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

      .conditionCheckerListItem__name {
        font-weight: 400;
      }

  .conditionCheckerListItem__removeButton {
    display: flex;
    margin-left: 2px;
    width: 10px;
    background-color: shade(scale-saturation($componentBackgroundColor, 60%), 3%);
    box-shadow: -10px 0 5px shade(scale-saturation($componentBackgroundColor, 60%), 3%);
    opacity: 0.6;
    cursor: pointer;
  }
