
.menuItem {
  @include listItem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /**
   * 1. Align items horizontally to the right.
   * 2. All direct children of the right section will have space on the
   *    left side.
   */
  .menuItem__actions {
    display: flex;
    justify-content: flex-end; /* 1 */
    > * {
      margin-left: 10px; /* 2 */
    }
  }

.menuItem--clickable {
  cursor: pointer;

  &.is-menu-item-selected {
    cursor: default;

    .menuItem__label {
      font-weight: 500;
    }
  }
}
