
.menuItem {
  @include listItem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  /**
   * 1. Expand and contract.
   * 2. Truncate text with ellipsis.
   * 3. Line-height makes sure 'g' isn't cut off at the bottom.
   */
  .menuItem__label {
    flex: 1 1 auto; /* 1 */
    overflow: hidden; /* 2 */
    text-overflow: ellipsis; /* 2 */
    white-space: nowrap; /* 2 */
    line-height: 1.2; /* 3 */
  }

  /**
   * 1. Expand and contract.
   * 2. Baseline-align text with actions and label.
   * 3. Truncate text with ellipsis.
   */
  .menuItem__meta {
    flex: 1 1 auto; /* 1 */
    text-align: right;
    padding-left: 10px;
    font-size: 11px;
    line-height: 1; /* 2 */
    opacity: 0.75;
    overflow: hidden; /* 3 */
    text-overflow: ellipsis; /* 3 */
    white-space: nowrap; /* 3 */
  }

  /**
   * 1. Align items horizontally to the right.
   * 2. Shrink but don't expand, to make sure the meta element expands as much
   *    as possible.
   * 3. All direct children of the right section will have space on the
   *    left side.
   */
  .menuItem__actions {
    display: flex;
    justify-content: flex-end; /* 1 */
    flex: 0 1 auto; /* 2 */

    > * {
      margin-left: 10px; /* 3 */
    }
  }

.menuItem--clickable {
  cursor: pointer;

  &.is-menu-item-selected {
    background-color: $lightGrey;
    cursor: default;

    .menuItem__label {
      color: $blue;
      font-weight: 500;
    }
  }
}
