
extends ../../_partials/_componentLayout

block title
  title Spinner

block content

  .exampleContainer.exampleContainer--clear
    #spinner

block component
  div.
    <script>
      window.app.render('spinner');
    </script>
