
.dropdownOption {
  cursor: pointer;
  font-size: 12px;
  height: 26px;
  line-height: 18px;
  padding: 4px 8px;

  &.is-dropdown-option-focus {
    background-color: #f3f9fd;
  }

  &.dropdownGroup--first {
    border-top: 1px dashed rgba(122, 129, 131, 0.4);
  }
}
