
/**
 * 1. Make sure dropdown doesn't exceed the width of its container, e.g. modal.
 */
.dropdown,
.dropdownGroup {
  @include baseDropdown;
  display: inline-block;
  max-width: 100%; /* 1 */
}

  .dropdown__input {
    @include baseDropdownInput;
  }

/**
 * 1. If the dropdown is narrower than its label, truncate the text.
 */
.dropdownLabel {
  @include baseDropdownLabel;
  background-color: #f6fafc;
  border: 1px solid $componentStrokeColor;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: $lineHeight;
  overflow: hidden; /* 1 */
  padding: 8px 30px 8px 8px;
  text-overflow: ellipsis; /* 1 */
  white-space: nowrap;

  &:before,
  &:after {
    $dropdownArrow_width: 1px;
    $dropdownArrow_height: 5px;
    background-color: #517582;
    content: '';
    height: $dropdownArrow_height;
    margin-left: -$dropdownArrow_width / 2;
    margin-top: -$dropdownArrow_height / 2;
    position: absolute;
    right: 10px;
    top: 50%;
    width: $dropdownArrow_width;
  }

  &:before {
    transform: rotate(-45deg) translate(-2.5px, -2.5px);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:not(.dropdownLabel--borderless).is-dropdown-label-focus {
    @include fieldFocus;
  }

  .dropdownDot {
    margin-right: 3px;
  }
}

  .dropdownLabel--borderless {
    background-color: transparent;
    border: 0;
    color: $textColor;
    padding-right: 20px;
  }

  .dropdownLabel--readonly {
    cursor: default;
    opacity: 0.7;
  }

  .dropdownLabel--blue {
    color: $dropdownDotBlueLine;

    &:before,
    &:after {
      background-color: $dropdownDotBlueLine;
    }
  }

  .dropdownLabel--green {
    color: $dropdownDotGreenLine;

    &:before,
    &:after {
      background-color: $dropdownDotGreenLine;
    }
  }

  .dropdownLabel--grey {
    color: $dropdownDotGreyLine;

    &:before,
    &:after {
      background-color: $dropdownDotGreyLine;
    }
  }

  .dropdownLabel--red {
    color: $dropdownDotRedLine;

    &:before,
    &:after {
      background-color: $dropdownDotRedLine;
    }
  }

/**
 * 1. Move up 1px to share border with the label.
 */
.dropdownOptionList {
  @include baseDropdownOptionList;
  background-color: white;
  border: 1px solid $componentStrokeColor;
  border-radius: 4px;
  box-sizing: content-box;
  color: black;
  left: 0;
  margin-left: -1px;
  min-width: 100%;
  top: calc(100% - 1px); /* 1 */
  white-space: nowrap;
}
