.grid__footer__cell {
  vertical-align: middle;
  line-height: 30px;
}

.grid__footer__cell:first-child {
}

  .grid__footer__cellLiner {
    padding: 0 8px;
    height: 31px;
  }

  .grid__footer__cell:first-child .grid__footer__cellLiner {
    padding-left: 15px;
  }

  .grid__footer__cell:last-child .grid__footer__cellLiner {
    padding-right: 15px;
  }
