.dataGrid__footer__cell {
  vertical-align: middle;
  line-height: 30px;
}

.dataGrid__footer__cell:first-child {
}

  .dataGrid__footer__cellLiner {
    padding: 0 8px;
    height: 31px;
  }

  .dataGrid__footer__cell:first-child .dataGrid__footer__cellLiner {
    padding-left: 15px;
  }

  .dataGrid__footer__cell:last-child .dataGrid__footer__cellLiner {
    padding-right: 15px;
  }
