.addFilterValue__filterName {
  font-weight: 400;
}

.addFilterValue__filterName,
.addFilterValue__filterValueWrapper {
  margin-bottom: $gridSelectedFilter_paddingHorizontal / 2;
}

.addFilterValue__buttons {
  display: flex;
  justify-content: space-between;
}
