.gridFilters {
  display: flex;
}

  .gridFilter,
  .gridFilter__add,
  .gridFilter__ellipsis {
    display: flex;
    align-items: center;
    height: 26px;
    padding: 0 8px;
    margin-right: 2px;
    border: 1px solid shade(scale-saturation($componentBackgroundColor, 100%), 14%);
    font-size: 11px;
    background: shade(scale-saturation($componentBackgroundColor, 60%), 3%);
    border-radius: 2px;
    cursor: default;
    color: $componentTextColor;
  }

    .gridFilter__text {
      max-width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

      .gridFilter__name {
        font-weight: 400;
      }

    .gridFilter__remove {
      display: flex;
      margin-left: -$iconSide;
      cursor: pointer;
      background: shade(scale-saturation($componentBackgroundColor, 60%), 3%);
      box-shadow: -10px 0 5px shade(scale-saturation($componentBackgroundColor, 60%), 3%);
      color: $linkColor;
      opacity: 0;

      .gridFilter:hover & {
        opacity: 1;
      }
    }

  .gridFilter__add {
    font-size: 16px;
    box-shadow: 60px 0 0 $componentBackgroundColor, 40px 0 0 $componentBackgroundColor;
    cursor: pointer;
  }

  .gridFilter__ellipsis .icon {
    font-size: 12px;
    width: auto;
    cursor: pointer;

    &:before {
      opacity: 0.6;
    }

    &:hover:before {
      opacity: 1;
    }
  }
