.removeFilterButton {
  display: flex;
  margin-left: -$iconSide;
  cursor: pointer;
  background: shade(scale-saturation($componentBackgroundColor, 60%), 3%);
  box-shadow: -10px 0 5px shade(scale-saturation($componentBackgroundColor, 60%), 3%);
  color: $linkColor;
  opacity: 0;

  .gridSelectedFilter:hover & {
    opacity: 1;
  }
}
