@import 'gridControls/index';

.grid__container {
  border: 1px solid $componentStrokeColor;
  -webkit-font-smoothing: subpixel-antialiased;
  max-width: $maxWidth;
  margin: 0 auto;
}

  .grid__table {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #474b4e;
    font-weight: 400;
    font-size: 13px;
  }

    @import 'header/index';
    @import 'body/index';
    @import 'footer/index';
    @import 'empty/index';
    @import 'loading/index';

    .grid__header {
      display: block;
    }

    .grid__body {
      display: block;
      overflow-y: auto;
    }

    .grid__footer {
      display: block;
    }

      .grid__header__row,
      .grid__body__row,
      .grid__footer__row {
        display: flex;
      }

        .grid__header__cell,
        .grid__body__cell,
        .grid__footer__cell {
          width: 100px;
          box-sizing: border-box;
          &:first-child {
            width: 35px;
          }
          &:last-child {
            flex: 1;// Occupies the remainder of the space
          }
        }

          .grid__body__cell:last-child .grid__body__cellLiner {
            text-align: right;
          }
