
$gridContainerBorder: 1px solid $componentStrokeColor;
$gridRowBookendPadding: 15px;

@mixin gridBaseStyles {
  color: #474b4e;
  font-weight: 400;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@import 'controls/index';
@import 'header/index';
@import 'body/index';
@import 'footer/index';
@import 'icon/index';
@import 'empty/index';
@import 'loading/index';
@import 'stickyGrid/index';

.grid__container {
  border: $gridContainerBorder;
  margin: 0 auto;
}

  .grid__table {
    @include gridBaseStyles;
    width: 100%;
    text-align: left;
    line-height: $lineHeight;
  }

    .grid__body__cell,
    .grid__footer__cell {

      &:first-child {
        width: 35px;
        padding-left: 15px;
      }
    }

      .grid__body__cell:last-child {
        .grid__body__cellLiner {
          text-align: right;
        }
      }
