@import 'gridControls/index';

.dataGrid__container {
  border: 1px solid $componentStrokeColor;
  -webkit-font-smoothing: subpixel-antialiased;
  max-width: $maxWidth;
  margin: 0 auto;
}

  .dataGrid__table {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #474b4e;
    font-weight: 400;
    font-size: 13px;
  }

    @import 'header/thead';
    @import 'body/tbody';
    @import 'footer/tfoot';
    @import 'empty/gridEmptyRow';
    @import 'loading/gridLoadingRow';

    .dataGrid__thead {
      display: block;
    }

    .dataGrid__tbody {
      display: block;
      overflow-y: auto;
    }

    .dataGrid__tfoot {
      display: block;
    }

      .dataGrid__thead__row,
      .dataGrid__tbody__row,
      .dataGrid__tfoot__row {
        display: flex;
      }

        .dataGrid__thead__cell,
        .dataGrid__tbody__cell,
        .dataGrid__tfoot__cell {
          width: 100px;
          box-sizing: border-box;
          &:first-child {
            width: 35px;
          }
          &:last-child {
            flex: 1;// Occupies the remainder of the space
          }
        }

          .dataGrid__tbody__cell:last-child .dataGrid__tbody__cellLiner {
            text-align: right;
          }
