
.changeLogModalChangeIcon {
  display: inline-block;
  height: 17px;
  margin-right: 5px;
  width: 17px;
  vertical-align: middle;
}

.changeLogModalChangeTime {
  font-weight: 700;
  vertical-align: middle;
}

.changeLogModalChangeText {
  line-height: 1.3;
}
