
.pickedListItem {
  @include listItem;
  align-items: center;
  display: flex;

  &:last-child {
    border-bottom: 0;
  }
}

  .pickedListItem__icon {
    $iconSize: 13px;
    flex: none;
    height: $iconSize;
    margin-right: 4px;
    width: $iconSize;
  }

  .pickedListItem__label {
    flex: 1 1 auto;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pickedListItem__meta {
    flex: 1 1 auto;
    font-size: 11px;
    line-height: 1;
    opacity: 0.75;
    overflow: hidden;
    padding-left: 10px;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /**
   * 1. Align items horizontally to the right.
   * 2. Position remove button icon absolutely.
   */
  .pickedListItem__removeButton {
    $closeButtonSize: 10px;
    color: #517582;
    cursor: pointer;
    display: flex; /* 1 */
    flex: 0 0 auto;
    height: $closeButtonSize;
    justify-content: flex-end; /* 1 */
    margin-left: 10px;
    position: relative; /* 2 */
    width: $closeButtonSize;

    &:before,
    &:after {
      background-color: #517582;
      content: '';
      height: $closeButtonSize;
      margin-left: -$closeButtonSize / 2;
      position: absolute;
      width: 2px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }
