@import 'tableControls/index';
@import 'table/index';

// This is temporary here until it is not decided what should be used for layout
.dataGrid__table {
  display: block;
}

  .dataGrid__thead {
    display: block;
  }

  .dataGrid__tbody {
    display: block;
    overflow-y: auto;
  }

  .dataGrid__tfoot {
    display: block;
  }

    .dataGrid__thead__row,
    .dataGrid__tbody__row,
    .dataGrid__tfoot__row {
      display: flex;
    }

      .dataGrid__thead__cell,
      .dataGrid__tbody__cell,
      .dataGrid__tfoot__cell {
        width: 100px;
        box-sizing: border-box;
        &:first-child {
          width: 35px;
        }
        &:last-child {
          flex: 1;// Occupies the remainder of the space
        }
      }

        .dataGrid__tbody__cell:last-child .dataGrid__tbody__cellLiner {
          text-align: right;
        }
