extends ./_partials/_componentLayout.jade

block content

  .examplesHome

    div

      h1 Welcome to the Smaato UI Framework.

      p Click the "Nav" button in the top left corner to view the examples.
