$lineHeight: 12px;
$minWidth: 504px;
$maxWidth: 1200px;
$viewport_normalScreen: '(max-width: 800px)';
$viewport_bigScreen: '(max-width: 1200px)';

body {
  min-width: $minWidth;
  overflow-x: hidden;
}
