
/**
 * 1. Inline-block solves a problem with putting an icon and text next to each
 *    other in Firefox.
 * 2. Since we can't use `display: inline-flex` and `align-items: center` to
 *    vertically align the content, we need to use padding to do it manually.
 */
@mixin button() {
  @include font;
  appearance: none;
  display: inline-block; /* 1 */
  height: 30px;
  padding: 7px 11px; /* 2 */
  font-size: 12px;
  line-height: $lineHeight;
  font-weight: 400;
  opacity: 1;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: 0.1s all ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.is-button-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
