
/* Color Menu */
$lightGrey: #ebf3f5;
$darkGrey: #354a53;
$blue: #2799c4;
$green: #35d0a0;
$red: #ff2400;
$white: #ffffff;

/* Global Colors */
$linkColor: $blue;

/* Generic Components Colors */
$componentBackgroundColor: scale-lightness($lightGrey, 60%);
$componentStrokeColor: scale-saturation(scale-lightness($lightGrey, -10%), -70%);
$componentTextColor: shade($lightGrey, 60%);

/* Title Bar Colors */
$titleBarTextColor: $darkGrey;
$titleBarBackgroundColor: $white;

/* ViewHeaderNav Colors */
$viewHeaderNav_textColor: $white;
$viewHeaderNav_backgroundColor: $blue;
$viewHeaderNav_selectedColor: $titleBarBackgroundColor;

/* AppHeaderNav Colors */
$appHeaderNav_textColor: $white;
$appHeaderNav_backgroundColor: $darkGrey;
$appHeaderNav_selectedColor: $viewHeaderNav_backgroundColor;

/**
 * Status
 */

// Line (border, font)
$statusDefaultLineColor: rgba(black, 0.3);
$statusNegativeLineColor: #e1472e;
$statusPositiveLineColor: #41b586;

// Fill (background)
$statusDefaultFillColor: rgba(black, 0.1);
$statusNegativeFillColor: #ff8875;
$statusPositiveFillColor: #48cda4;

// Text
$textColor: #5e707b;
