
@mixin cssIcon {
  cursor: pointer;
  position: relative;

  &:before,
  &:after {
    background-color: $componentTextColor;
    content: '';
    position: absolute;
  }
}

/* Plus (+) */
@mixin plusIcon {
  @include cssIcon;

  height: 9px;
  transform: rotate(180deg);
  width: 9px;

  &:before {
    height: 100%;
    left: 4px;
    right: 4px;
    top: 0;
  }

  &:after {
    bottom: 4px;
    left: 0;
    top: 4px;
    width: 100%;
  }
}

/* Cross (X) */
@mixin crossIcon($marginTop: 0, $marginLeft: 0) {
  @include cssIcon;

  &:before,
  &:after {
    $closeButtonLine_width: 1px;
    $closeButtonLine_height: 10px;
    content: '';
    width: $closeButtonLine_width;
    height: $closeButtonLine_height;
    position: absolute;
    margin-top: $marginTop;
    margin-left: $marginLeft;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

/* Back (<) */
@mixin backIcon {
  @include cssIcon;

  border-bottom: 1px solid $componentTextColor;
  border-left: 1px solid $componentTextColor;
  height: 7px;
  transform: rotate(45deg);
  width: 7px;
}
