
/**
 * These mixins and variables are used by form field components, e.g. text input
 * and text area.
 */

$fieldPadding: 10px;

@mixin fieldFocus() {
  outline: none;
  border-color: #2ba7e8;
  box-shadow: inset 0 0 0 2px #2ba7e8;
}

@mixin field() {
  display: block;
  appearance: none;
  color: #444444;
  border: 1px solid #cccccc;
  font-size: 13px;
  font-weight: 300;

  &:focus {
    @include fieldFocus;
  }
}

@mixin fieldError() {
  background-color: #fffff1;
  border-color: #dedeb9;
}
