a,
.blueLink {
  text-decoration: none;
  color: $linkColor;
}

/**
 * 1. Addresses an issue in Firefox thats set large, implicit min-widths.
 *    Setting min-width to 0 allows inputs to adhere to flexbox rules.
 */
input {
  outline: none;
  min-width: 0; /* 1 */
}

$textInput_height: 32px;
