.grid__filtersWrapper {
  display: table-cell;
  vertical-align: top;
  padding: 7px 0 7px 15px;
  width: 100%;
}

  .grid__filtersContainer {
    display: inline-block;
    overflow: hidden;
    height: 26px;
    position: relative;
    padding-right: 65px;
  }

    .grid__roundedBackground {
      font-size: 11px;
      background: shade(scale-saturation($componentBackgroundColor, 60%), 3%);
      border: 1px solid shade(scale-saturation($componentBackgroundColor, 100%), 14%);
      border-radius: 2px;
      padding: 0 8px;
      line-height: 24px;
      cursor: default;
      display: inline-block;
      vertical-align: top;
      max-width: 120px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      color: $componentTextColor;
    }

    .grid__filter {
      @extend .grid__roundedBackground;
      float: left;
      margin: 0 2px 0 0;
      z-index: 4;

      strong {
        font-weight: 400;
      }

      .remove {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 16px;
        right: 2px;
        top: 0;
        bottom: 0;
        z-index: 5;
        background: shade(scale-saturation($componentBackgroundColor, 60%), 3%);
        box-shadow: -10px 0 5px shade(scale-saturation($componentBackgroundColor, 60%), 3%);
      }

      &:hover .remove {
        opacity: 1;
      }
    }

    .grid__addFilter {
      box-shadow: 60px 0 0 $componentBackgroundColor, 40px 0 0 $componentBackgroundColor;
      position: relative;
      z-index: 3;
      padding: 0;
      display: inline-block;
      margin-left: -30px;
      float: left;

      a {
        @extend .grid__roundedBackground;
        cursor: pointer;
        left: 30px;
        font-size: 16px;
      }
    }

    .grid__ellipsis {
      display: inline-block;
      float: left;
      width: 60px;
      position: absolute;
      z-index: 1;

      .icon {
        @extend .grid__roundedBackground;
        display: inline-block;
        width: 8px;
        height: 24px;
        z-index: 2;
        cursor: pointer;
        font-size: 12px;

        &:before {
          margin-left: 6px;
          opacity: .6;
        }

        &:hover:before {
          opacity: 1;
        }
      }

      .add {
        @extend .grid__roundedBackground;
        font-size: 16px;
        margin: 0 0 0 -2px;
      }

    }
