.grid__search {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}

  .grid__search__input {
    display: inline-block; 
    vertical-align: middle;
    line-height: 0px;
    position: relative;
    height: 24px;
    overflow: hidden;
    input {
      border-radius: 20px;
      border: 1px solid shade($componentStrokeColor, 5%);
      background: white;
      line-height: 11px;
      font-size: 11px;
      margin: 0;
      height: 23px;
      padding: 5px 27px 5px 11px;
      color: shade($componentTextColor, 80%);
      width: 140px;
    }
    .icon {
      color: shade($componentStrokeColor, 16%);
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      top: 11px;
      right: 0;
      &:before { font-size: 11px; }
    } 
  }