
/**
 * 1. Optically center content by giving a bit more padding to the bottom.
 */
.progressModal {
  @include modal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 90px;
  padding-bottom: 6px; /* 1 */
  border-radius: 4px;
  background: #f7fbfc;
}
