.mainNavBar {
  background: $mainNavBackgroundColor;
  display: flex;
  justify-content: center;
  height: 45px;
}

  .mainNavBar__liner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // This allows children to take height from component root element
    height: inherit;
    flex: 1;
    max-width: $maxWidth;

    @media #{$viewport_wideScreen} {
      padding: 0 15px;
    }
  }

    .mainNavBar__logo {
      text-indent: -999em;
      // This is to cut logo image on a smaller screen properly
      width: 76px;
      height: 17px;
      background-image: url($logo_76px);
      background-size: 76px 17px;
      background-position: right top;
      background-repeat: no-repeat;
      @media #{$viewport_normalScreen} {
        width: 17px;
      }
    }

    @import 'account';
    @import 'links';
