.titleBar {
  max-width: $maxWidth;
  margin: 0 auto;
  display: table;
  width: 100%;
  @include box-shadow(
    -1px 0 0 $componentStrokeColor, 
    1px 0 0 $componentStrokeColor
  );
}
  
  @import 'title';
  @import 'buttons';