
.pickedSummary {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: $lineHeight;
  font-weight: 300;
}

  /**
   * 1. Display an ellipsis if the text overflows.
   */
  .pickedSummary__label {
    flex: 1 1 auto;
    text-overflow: ellipsis; /* 1 */
    white-space: nowrap; /* 1 */
    overflow: hidden; /* 1 */
  }

.pickedSummaryIcon {
  width: 13px;
  margin-right: 4px;
}

.pickedSummaryIcon--check {
  color: #81d372;
}

.pickedSummaryIcon--ban {
  color: #f07576;
}
