.card {
  flex-shrink: 0;
  height: fit-content;
  overflow: hidden;
  width: fit-content;

  .card__wrapper {
    margin-bottom: 10px;
  }

  .image {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    height: 50%;
    overflow: hidden;
  }

  &__footer {
    margin: 10px 15px 15px 15px;

    &__left {
      display: inline-block;
      position: absolute;
    }
  }

  &__info {
    margin: 15px 15px 0 15px;
  }

  .label,
  .subLabel {
    margin: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    line-height: 1.2em;

    &.green {
    	color: $green;
    }

    &.lightgrey {
      color: #a4a4a4;
    }

    &.mediumgrey {
    	color: #7a898e;
    }
  }
}
