
.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #d4d8db;
  overflow: hidden;
}

  .panel__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 36px;
    font-size: 13px;
    line-height: $lineHeight;
    background-color: #e9f2f7;
    border-bottom: 1px solid #d4d8db;
    flex: 0 0 auto;
  }

    .panel__titleLabel {
      color: #526770;
      font-weight: 600;
    }

    .panel__titleLabel--uppercase {
      text-transform: uppercase;
    }

    /**
     * 1. Align items horizontally to the right.
     * 2. All direct children of the right section will have space on the
     *    left side.
     */
    .panel__actions {
      display: flex;
      justify-content: flex-end; /* 1 */
      > * {
        margin-left: 10px; /* 2 */
      }
    }

  .panel__content {
    background-color: #ffffff;
    line-height: $lineHeight;
    overflow-y: auto;
    flex: 1 1 auto;
  }

  .panel__content--padded {
    padding: 10px;
  }

  .panel__content--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
