.panelLayout {
  display: flex;
  align-items: stretch;
  height: 100%;

  /**
   * TODO: Add Column-like or LabeledControl-like options for specifying
   * different panel widths.
   */
  .panel {
    flex: 1 1 auto;
  }

  .panel + .panel {
    border-left: 0;
  }
}
