
.gridLoadingRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
}

/**
 * 1. Optically center the progress component.
 */
.gridLoadingRow--initial {
  height: 400px;
  padding-bottom: 30px; /* 1 */
}
