
.statusDropdown {
  @include baseDropdown;
  display: inline-block;
}

  .statusDropdown__input {
    @include baseDropdownInput;
  }

/**
 * 1. Vertically align DropdownDot with text.
 */
.statusDropdownLabel {
  @include baseDropdownLabel;
  display: flex;
  align-items: center;
  padding-right: 18px;
  font-size: 12px;
  line-height: 0; /* 1 */
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  color: $dropdownDotGreyLine;

  &:before,
  &:after {
    $dropdownArrow_width: 1px;
    $dropdownArrow_height: 5px;
    content: '';
    width: $dropdownArrow_width;
    height: $dropdownArrow_height;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -$dropdownArrow_height / 2;
    margin-left: -$dropdownArrow_width / 2;
    background-color: $dropdownDotGreyLine;
  }

  &:before {
    transform: rotate(-45deg) translate(-2.5px, -2.5px);
  }

  &:after {
    transform: rotate(45deg);
  }

  &.is-statusDropdown-label-focus {
    @include fieldFocus;
  }

  .dropdownDot {
    margin-right: 3px;
  }
}

  .statusDropdownLabel--green {
    color: $dropdownDotGreenLine;

    &:before,
    &:after {
      background-color: $dropdownDotGreenLine;
    }
  }

  .statusDropdownLabel--grey {
    color: $dropdownDotGreyLine;

    &:before,
    &:after {
      background-color: $dropdownDotGreyLine;
    }
  }

  .statusDropdownLabel--red {
    color: $dropdownDotRedLine;

    &:before,
    &:after {
      background-color: $dropdownDotRedLine;
    }
  }

/**
 * 1. Move up 1px to share border with the label.
 */
.statusDropdownOptionList {
  @include baseDropdownOptionList;
  background-color: white;
  border: 1px solid #e1e1e1;
  box-sizing: content-box;
  color: $blue;
  font-weight: 400;
  left: 0;
  margin-left: -1px;
  min-width: 100%;
  top: 0;
  white-space: nowrap;
}
