
.statusDropdownOption {
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  padding: 4px 8px;

  &:last-child {
    border-bottom: 0;
  }

  &.is-status-dropdown-option-selected {
    filter: grayscale(100%);

    .statusDropdownOptionIcon.icon-check {
      margin-left: 10px;
      opacity: 0.5;
    }
  }

  .statusDropdownOptionIcon {
    margin-right: 5px;
  }
}
