$contentWidth: 1200px;
$sourceCodeViewerWidth: 600px;

@mixin chromeButton {
  padding: 8px 10px;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  color: #626262;
  cursor: pointer;
  user-select: none;
  opacity: 0.75;
  background: #e7e7ed;
  border: 1px solid transparent;
  transition: color 0.2s,
    opacity 0.2s,
    background 0.2s;

  &:hover {
    opacity: 1;
    color: #1cc4ec;
    border: 1px solid #d8d8d8;
    background: white;
  }
}

@mixin whenNarrowerThan($browserWidth) {
  @media only screen and (max-width: #{$browserWidth}) {
    @content;
  }
}

@import '../framework/index';
@import './components/navigation/navigation';
@import './components/sourceCodeViewer/sourceCodeViewer';
@import './views/app';
@import './views/home/homeView';

/**
 * 1. Insane line-height makes it easier to notice when components are relying
 *    on styles inherited from body.
 */
body {
  background: #e7e7ed;
  line-height: 40px; /* 1 */
}

.examplePage {
  padding: 40px 30px;
  max-width: $contentWidth;
  margin: 0 auto;
}

.examplePage--fullScreen {
  padding: 0;
  max-width: none;
}

.examplesNavMenuButton {
  @include chromeButton;
  position: fixed;
  z-index: 1000;
  top: 5px;
  left: 5px;
}

.examplesNavMenuButton--home {
  left: 80px;
}

.examplesSourceCodeViewerButton {
  @include chromeButton;
  position: fixed;
  z-index: 600;
  top: 5px;
  right: 5px;
}

.exampleContainer {
  margin-bottom: 16px;
  padding: 20px;
  background: white;
  border: 1px solid #d8d8d8;

  .examplePageTitle,
  .examplePageSubTitle,
  .examplePageText {
    color: #5e6162;
  }
}

.exampleContainer--clear {
  background: transparent;
}

.exampleContainer--dark {
  background: #5e6162;

  .examplePageTitle,
  .examplePageSubTitle,
  .examplePageText {
    color: white;
  }
}

.examplePageTitle,
.examplePageSubTitle,
.examplePageText {
  line-height: 12px;
}

.examplePageTitle {
  margin-bottom: 16px;
  font-size: 26px;
  font-weight: 700;
}

.examplePageSubTitle {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.examplePageText {
  margin-bottom: 16px;
  font-size: 14px;
  max-width: 500px;
  line-height: 1.2;
}
