
.chart {
  position: relative;
  background: linear-gradient(#fbfcfd, #f4f6f7);
}

  .chart__svg {
    position: relative;
    z-index: 1;
  }

  .chart__fakeBackgound {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #ffffff;
    border-top: 1px solid #cbd0d3;
  }

  .chartLine {
    fill: none;
    stroke-width: 1px;
  }

  // .chartXAxis class isn't applied to any elements.

    .chartXAxisTick__mark {
      stroke: #a3a8ab;
      shape-rendering: crispEdges;
    }

    .chartXAxisTick__text {
      font-size: 12px;
      font-weight: 400;
      fill: #4a5459;
    }

  .chartYAxis {
    fill: none;
  }

    .chartYAxisTick__mark {
      stroke: #e5e7e8;
      shape-rendering: crispEdges;
    }

    .chartYAxisTick__text {
      font-size: 11px;
      font-weight: 700;
      fill: #ffffff;
    }

    .chartYAxisTick__background {
      fill: #636d70;
      stroke: none;
    }
