
.lineChartLine {
  fill: none;
  stroke-width: 2px;
}

.lineChartAxisTick__mark {
  shape-rendering: crispEdges;
  stroke: #e5e7e8;
}

.lineChartAxisTick__text {
  fill: #5e707b;
  font-size: 11px;
}
