
.leftFixedLayout {
  position: relative;
}

.leftFixedLayout__leftSide {
  left: 0;
  max-height: 100vh;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 710px;

  &.leftFixedLayout__leftSide--sticky {
    left: auto;
    position: fixed;
  }

  @media #{$viewport_bigScreen} {
    width: 555px;
  }
}

.leftFixedLayout__rightSide {
  margin-left: 710px;
  padding-left: 10px;

  @media #{$viewport_bigScreen} {
    margin-left: 555px;
  }
}
