$checkedColor: tint(scale-saturation($blue, 30%), 5%);

/** postcss-bem-linter: define checkboxWrapper */
.checkboxWrapper {
  display: inline-block;
  vertical-align: middle;
}

  /** postcss-bem-linter: define checkbox__input */
  .checkbox__input {
    display: none;

    &:checked + .checkbox__faux__input {
      background: $checkedColor;
      border-color: $checkedColor;
      box-shadow: 0 0 0 transparent;

      &:before {
        color: tint($checkedColor, 99%);
      }

      &:after {
        color: $checkedColor;
      }
    }
  }

  /** postcss-bem-linter: define checkbox__faux__input */
  .checkbox__faux__input {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0;
    background: tint($componentBackgroundColor, 90%);
    border: 1px solid shade($componentStrokeColor, 7%);
    border-radius: 2px;
    box-shadow: inset 0 1px 0 tint($componentStrokeColor, 50%);
    width: 12px;
    height: 12px;

    &:before,
    &:after {
      @extend .glyphicons:before;
      @extend .glyphicons-ok-2:before;
      line-height: 10px;
      font-size: 8px;
      margin: 0 0 0 1px;
    }

    &:before {
      color: transparent;
    }

    &:after {
      color: transparent;
      margin-top: -2px;
    }

    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    }
  }

/* postcss-bem-linter: end */
