$checkBoxSize: 12px;

.checkBox {
  display: inline-block;
  vertical-align: middle;
}

  .checkBox__input {
    display: none;
  }

  .checkBox__label {
    display: block;
    position: relative;
    width: $checkBoxSize;
    height: $checkBoxSize;
    line-height: $checkBoxSize;
    border: 1px solid shade($componentStrokeColor, 7%);
    border-radius: 2px;
    cursor: pointer;
    background: tint($componentBackgroundColor, 90%);
    box-shadow: inset 0 1px 0 tint($componentStrokeColor, 50%);

    &:hover {
      box-shadow: 0 1px 1px rgba(black, 0.2);
    }

    &--error {
      @include fieldError;
      background-color: $yellow;
      box-shadow: 0 0 0 transparent;
    }

    &--readonly {
      background: shade($componentBackgroundColor, 5%);
      border-color: $componentStrokeColor;
      box-shadow: inset 0 1px 0 tint($componentStrokeColor, 40%);
      cursor: default;

      &:hover {
        box-shadow: inset 0 1px 0 tint($componentStrokeColor, 25%);
      }
    }

    .checkBox__input:checked + & {
      $checkedColor: tint(scale-saturation($blue, 30%), 5%);
      background: $checkedColor;
      border-color: $checkedColor;
      box-shadow: 0 0 0 transparent;

      .checkBox__icon {
        display: block;
      }

      &--readonly {
        background: shade($componentBackgroundColor, 15%);
        border-color: shade($componentBackgroundColor, 15%);
      }
    }
  }

    .checkBox__icon {
      $checkBoxIconSize: 8px;
      display: none;
      width: $checkBoxIconSize;
      height: $checkBoxIconSize;
      position: absolute;
      top: 1px;
      left: 1px;
    }
