
$modalHeaderIconSize: 15px;
$smallModalHeaderIconSize: 11px;
$stackedModalFontSize: 12px;

@mixin modalHeaderIcon($size) {
  width: $size;
  height: $size;
  opacity: 0.5;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $modalPadding $modalPadding 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #cbd3d7;
  margin-bottom: 10px;
  color: #526770;
  line-height: $lineHeight;

  .is-modal-stacked & {
    color: rgba(#526770, 0.8);
  }

  /**
   * 1. Move the header up so it's not hidden behind the top-most modal.
   */
  .is-modal-next-in-stack & {
    margin-top: 7px; /* 1 */
    border-bottom: 0;

    .modalHeaderIcon {
      width: $smallModalHeaderIconSize;
      height: $smallModalHeaderIconSize;
    }

    .modalHeader__title {
      font-size: $stackedModalFontSize;
    }

    .modalHeader__closeButton {
      display: none;
    }
  }

  .is-modal-next-in-stack.is-modal-hovered & {
    .modalHeader__closeTopModalLabel {
      display: flex;
      align-items: center;
    }
  }

  /**
   * 1. Modals buried in the stack should just appear as blank modals.
   */
  .is-modal-buried-in-stack & {
    visibility: hidden;
  }
}

  .modalHeader__title {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }

    .modalHeaderIcon {
      @include modalHeaderIcon($modalHeaderIconSize);
      margin-right: 5px;
    }

  .modalHeader__closeTopModalLabel {
    display: none;
    position: relative;
    top: 0;
    right: 0;
    font-size: $stackedModalFontSize;
  }

    .modalHeader__closeTopModalIcon {
      @include modalHeaderIcon($smallModalHeaderIconSize);
      margin-right: 6px;
    }

  .modalHeader__closeButton {
    $closeButtonSide: 20px;
    position: relative;
    width: $closeButtonSide;
    height: $closeButtonSide;
    border: 1px solid #bbced6;
    background-image: linear-gradient(#e9f0f2, #e2ebee);
    border-radius: 2px;
    color: #517582;
    cursor: pointer;

    &:before,
    &:after {
      $closeButtonLine_width: 1px;
      $closeButtonLine_height: 10px;
      content: '';
      width: $closeButtonLine_width;
      height: $closeButtonLine_height;
      background-color: #517582;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -$closeButtonLine_height / 2;
      margin-left: -$closeButtonLine_width / 2;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }
